@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora";
}
body {
    min-height: 100vh;
    background-size: cover; 
}
.main-section {
    min-height: 100vh;
    background: linear-gradient(135deg, #c6c2f2 0%, #c3c98d 100%);
    backdrop-filter: blur(42px);
    padding-top: 20px;
}
.title-section {
    text-align: center;
    padding-bottom: 40px;
}
h1 {
    font-size: 40px;
    font-weight: 1500;
}

/* prev button */
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
.previous {
    background-color: #f1f1f1;
    color: black;
  }
  .round {
    border-radius: 50%;
  }

/* cards */
.cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .cards .red {
    background-color: #FFF6EE;
  }
  
  .cards .blue {
    background-color: #FFF6EE;
  }
  
  .cards .green {
    background-color: #FFF6EE;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 400ms;
    padding: 20px;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }

  .cards .card p.description {
    font-size: .8em;
  }

  .cards .card p.features {
    font-size: .9em;
    font-weight: 700;
  }
  .cards .card img.Tuckshopimg {
    min-width:155px; 
    overflow:hidden; 
    max-height:178px;
  }
  
  .cards .card img.SchoolMapimg {
    min-width:135px; 
    overflow:hidden; 
    max-height:155px;
  }
  
  .cards .card li {
    font-size: .9em;
    list-style-type: none;
  }

  .cards .card a {
    padding: 10px 32px;
    background: #c6c2f2;
    border-radius: 50px;
    font-weight: 500;
    color: #262628;
  }
  .cards .card a:hover {
    background: #8e8abe;
    color: #262628;
    opacity: 1;
  }
  
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }


  /* 
  Trying to blur the title when a card is hovered !!!!
  .cards:hover > .title-section h1 {
    filter: blur(10px);
} */ 