@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora";
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-size: cover; 
}

.main-section {
    min-height: 100vh;
    background: linear-gradient(135deg, #c6c2f2 0%, #c3c98d 100%);
    backdrop-filter: blur(42px);
}

.container {
    width: 100%;
    padding: 0 200px;
}

/* Navbar */
header {
    padding-top: 35px;
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.navbar {
    padding: 0;
    margin: 0;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    text-transform: capitalize;
    
}
.navbar ul li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #262628;
    text-transform: capitalize;
    transition: all 0.3s;
}
.navbar ul li a:hover {
    opacity: 0.5;
}
.navbar ul li.contactBtn {
    margin-left: 300px !important;
    
}
.navbar ul li.contactBtn a {
    padding: 10px 32px;
    background: #D6DC82;
    border-radius: 50px;
    font-weight: 500;
}
.navbar ul li.contactBtn a:hover {
    background: #989d5a;
    color: #262628;
    opacity: 1;
}




/* main content */
.content-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-left span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #262628;
    margin-bottom: 10px;
    /* typing effect */
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #262628;
    animation: typing 5s steps(10) infinite;
}
@keyframes typing {
    0% {
        width:0ch;
    }
    50% {
        width: 10.5ch;
    }
    100% {
        width: 0ch;
    }
}

.col-left h1 {
    font-size: 40px;
    font-weight: 800;
    color: #262628;
    line-height: 41px;
    margin-bottom: 15px;
    
}
.col-left p {
    width: 80%;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    color: #262628;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
}
a.mainBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 25px;
    background: #D6DC82; 
    width: 200px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}
a.mainBtn:hover {
    background: #fff;
    color: #262628;
}
.col-right img {
    height: 550px;
    width: 450px
}

/* About section */ 
.container2 {
    background-color: #fff;
    height: 70vh;
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profile-wrapper {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img { 
    width: 250px;
    height: 185px;
    border-radius: 50%;
}

.description {
    padding-top: 15px;
    font-size: 20px;
    padding-left: 75px;
}

.Experience-section {

    justify-content: center;
}